@media (max-width: 375px)
{
    /* HEADER PART  */
    header {
        /* width: 100%; */
        width: 375px;
        /* position: sticky; */
        top: 0;
        /* border-bottom-right-radius: 913px; */
        z-index: 999;
    }

    .navbar {
        background-color: rgb(8, 20, 3) !important;
        opacity: 95%;
        WIDTH: 375PX;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
    }
    /* HOME SECTION  */
#Home {
    background-image: url(./PICS/1invest.jpg);
    opacity: 1;
    max-height: 667px;
    z-index: -999;
    /* min-width: 700px; */
    /* position: relative; */
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
}


h1#hometext {
    color: orange;
    font-weight: 650;
    padding: 105px 55px;
    margin-left: -21px;
    font-size: 20px;
}

h5#hometext {
    padding: 11px 16px 7px 70px;
    margin-top: 314px;
    font-size: 14px;
    margin-left: -19px;
    font-weight: 700;
    color: white;
    position: absolute;
}
#containerone {
    margin-left: 95px;
    margin-top: 29px;
}

/* ABOUT SECTION  */ */
/* h1#Know {
    margin-left: 13px;
    padding: 8px 112px;
    font-size: 20px;
    font-weight: 700;
    padding-top: 20px;
} */
/* h1.aboutheading {
    margin-left: 100px;
    padding: 16px 40px 3px 10px;
} */

/* h2#Knowone {
    margin-left: 0px;
    padding: 50px 40px 10px 10px;
} */

#About {
    background: #EFEFEF;
    opacity: 0.95;
    height: 591px;
    position: relative;
    background-size: cover;
    background-attachment: scroll;
}
#about1 {
    margin-top: -7px;
    padding-left: 39px;
    margin-bottom: 0px;
    font-size: 14px;
    padding: 11px 38px;
}

/* FORM   */
#form1 {
    padding-top: 18px;
    padding-left: 0px;
    font-size: 14px;
    margin-left: 45px;
    margin-right: 50px;
    padding-right: 0px;
}

#Contact {
    background: rgb(8, 20, 3);
    opacity: 0.95;
    height: 454px;
    position: relative;
    background-size: cover;
    background-attachment: scroll;
}

#contact1 {
    color: rgb(255, 255, 255);
    padding-top: 37px;
    padding-left: 99px;
}

#button1 {
    background-color: rgb(23, 59, 8);
    border: none;
    padding: 15px;
    border-radius: 15px;
    margin-left: 83px;
    margin-top: 23px;
}
}